body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #282c34;
  min-height: 100vh;

}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.url-input-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.url-input {
  padding: 10px;
  width: 300px;
  border: none;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px;

}

.fetch-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  color: #282c34;
  font-size: 16px;
  cursor: pointer;
}

.fetch-button:hover {
  background-color: #21a1f1;
}

.error-message {
  color: #ff4d4d;
  margin: 10px 0;
}

.suggestions {
  color: white;
  align-items: center;
  text-align: center;

}

.suggestions-container {
  margin: 20px auto;
  width: 100%;
  max-width: 600px;
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
}

.suggestions ul {
  list-style-type: none;
  padding: 0;
}

.suggestions li {
  background-color: #555;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}
